html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#app {
  height: 100%;
}

body {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 400;
  color: #333;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
  user-select: none;
  text-size-adjust: none;
  box-sizing: border-box;
  background: #fff;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: #4078c0;
  text-decoration: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;

&:focus {
   outline: none;
 }
}

body,
ol,
ul,
dl,
dd,
button {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  outline: none;
  color: inherit;
  text-decoration: none;
}

a,
img {
  -webkit-touch-callout: none;
}

input,
button,
textarea,
select {
  outline: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

select {
  background-color: transparent;
  appearance: none;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  appearance: button;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 100px #fff inset;
}

